<h2 mat-dialog-title>{{ isEditMode ? 'Edit Event' : 'Create New Event' }}</h2>

<mat-dialog-content>
  <form [formGroup]="eventForm" class="dialog-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Event Title</mat-label>
      <input matInput formControlName="title" placeholder="Ex. Tech Talk 2026">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="4"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Location / Venue</mat-label>
      <input matInput formControlName="location">
      <mat-icon matSuffix>place</mat-icon>
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Start Date & Time</mat-label>
        <input matInput [ngxMatDatetimePicker]="startPicker" formControlName="startTime" (click)="startPicker.open()" readonly>
        <ngx-mat-datepicker-toggle matSuffix [for]="startPicker"></ngx-mat-datepicker-toggle>
        <ngx-mat-datetime-picker #startPicker [showSpinners]="true" [showSeconds]="false"></ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>End Date & Time</mat-label>
        <input matInput [ngxMatDatetimePicker]="endPicker" formControlName="endTime" (click)="endPicker.open()" readonly>
        <ngx-mat-datepicker-toggle matSuffix [for]="endPicker"></ngx-mat-datepicker-toggle>
        <ngx-mat-datetime-picker #endPicker [showSpinners]="true" [showSeconds]="false"></ngx-mat-datetime-picker>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Max Capacity</mat-label>
      <input matInput type="number" formControlName="capacity">
      <mat-icon matSuffix>group</mat-icon>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="eventForm.invalid">
    {{ isEditMode ? 'Update Event' : 'Create Event' }}
  </button>
</mat-dialog-actions>